*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  html,
  body {
    height: 100%;
    width: 100%;
    background-color: #b4e2e1 ;
  }

  .logo{
    height: 40px;
    display: flex;
  }
  .logo img{
    height: 100%;
    border-radius: 50%;
  }
  .logo h1{
    padding-left: 10px;
    padding-top: 6px;
  }

  .GC_logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: 40px;
  }

  .GC_logo img{
    border-radius: 50%;
  }

  .GC_logo h1{
    padding-top: 10px;
    color: #ad9551;
  }


  nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(10, 72, 72);
    position: relative;
    height: 80px;
  }

  .logo{
    color: #fff;
  }

  nav ul{
    display: flex;
    gap: 30px;
  }

  nav ul li{
    list-style-type: none;
  }
  nav ul li a{
    text-decoration: none;
    color: #ffff;
  }

  .menu_icon{
    display: none;
  }

.menu_icon i{
    color: #fff;
    font-size: 30px;
    display: block;
}

@media(max-width:600px){
    nav ul{
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: rgb(10, 72, 72);
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
    }
    .menu_icon{
        display: block;
    }
    #menu_list{
        transition: all 0.5s;
    }
}

   /*this is for register box  */
  .container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
form{
    background-color:#fff ;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
 }
 form h3{
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
 }
 form input{
    border: 0;
    margin: 10px 0; 
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
 }
 
 form button{
    padding: 15px;
    background: rgb(63, 215, 16);
    color: #282c3f;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
    transition: 5ms;
    box-shadow: 0 0 10px;

 }
 form button:hover{
    box-shadow: none;
 } 

/* this is for footer */

footer{
  background-color: #24262b;
  padding: 70px 0;
  line-height: 1.5;
}

.container1{
  max-width: 1170px;
  margin: auto;
}

.row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer_col ul{
  list-style: none;
}

.footer_col{
  width: 30%;
  padding: 0 15px;
}
.footer_col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer_col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer_col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer_col ul li a,p{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer_col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}

/* responsive footer */
@media(max-width: 600px){
  .footer_col{
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 500px){
  .footer_col{
    width: 100%;
  }
}


/* its for wrapper */

.addbox{
  /* height: 400px; */
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
 }

 .box1{
  width:300px;
  max-width: 100%;
  height: 400px;
  margin: 10px;
  box-shadow: -1px 0 10px #24262b;
  background-color: #e91e63;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding: 10px;
  border-radius: 10px;
 }
 .box1 p{
  padding-top: 10px;
  color:#000;
  font-weight: 400;
 }
  
 .addbox img{
  width: 100%;
  height: 200px;
  display: flex;
  object-fit: cover;

 }

 @media only screen and (max-width: 768px) {
   
  .addbox{
    flex-direction: column;
  }
  
 }

 


 